Host *
        ServerAliveInterval 300
        StrictHostKeyChecking no

#########################################################
#                       MASTER	                        #
#########################################################
#
#Host NAME
#       User USER
#       hostname IP
#       port 22
#       ProxyCommand ssh -q -W %h:%p JUMP_HOST
#       IdentityFile ~/.ssh/id_rsa
#
#########################################################