#Include ~/.ssh/config.d/*

Host *
        ServerAliveInterval 300
        StrictHostKeyChecking no
#   	HashKnownHosts 		no
#       GSSAPIAuthentication    no

#########################################################
#                       TEMPLATE                        #
#########################################################
#
#Host NAME
#       User USER
#       Hostname IP
#       Port 22
#       ProxyCommand ssh -q -W %h:%p JUMP_HOST
#       IdentityFile ~/.ssh/id_rsa
#
#########################################################