[global_config]
  extra_styling = False
  scroll_tabbar = True
  title_inactive_bg_color = "#000000"
  title_inactive_fg_color = "#eeeeec"
  window_state = maximise
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    copy_on_selection = True
    cursor_color = "#cc0000"
    cursor_color_fg = False
    foreground_color = "#ffffff"
    scrollback_infinite = True
